{% extends "layout.html" %}

{% block content %}

<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
    }
    </style>



<form method="post" action="/resultado">

    <h1>Generar casillas</h1>

    <input type="hidden" name="num_casillas" value="{{ num_casillas }}">

    {% for i in range(num_casillas) %}

    <label for="num{{ i }}">Ingresa un número para la casilla:</label>

    <input type="number" id="num{{ i }}" name="num{{ i }}"><br>

    {% endfor %}

    <input type="submit" value="Calcular suma">

</form>
{% endblock %}